
  
  
  <!-- primera seccion -->
  <div class="container-fluid ">
    <div class="row">
      <div class="col-lg mt-5">
  
        <div class="container texto-degrdado">
          <h1>DESCRUBRE LA MANERA <span class="texto-azul">MÁS</span> DIVERTIDA DE CUIDAR LOS MARES</h1>
        </div>
  
        <p>
          Cada día se producen miles de toneladas de basura en nuestras playas por causa del turismo irresponsable.
          Pero este es el momento de empezar a cambiar, y tú puedes ser parte de esta nueva era 
        </p>
  
  
        <!-- <a class="nav-link" [routerLink]="['general']">informacion general</a> -->

        
          
          <p class="texto-azul">más de 10,000 usuarios activos</p>
        
  
  
      </div>
  
  
      <div class="col-md">
        <div class="fondo-azul trapecio">
          
          <img src="../assets/img/7.svg" class="" alt="" width="70%">
        </div>
  
  
      </div>
  
  
      
    </div>
  
  
  
  
  </div>
  
  
  
  <!-- primera seccion -->
  
  
  
  <!-- barra de invitacion -->
  
  <div class="container-fluid espacio-barra">
    <div class="row">
      <div class="col-lg">
        <div class="container w-100">
  
          <p class="mt-10 text-center barra-texto">Descrubre el reciclaje de la  <span class="texto-azul"> nueva</span> era tecnologica</p>
  
        </div>
  
     </div>
  
    </div>
  
  </div>
  
  <!-- barra de invitacion -->
  
  
  
  
  
  <!-- tarjetas secciones -->
  
  
  
  
  
  <div class="cristal">
  <div class="card-group m-5 ">
    <div class="card transparent borde" *ngFor="let tarjeta of tarjetas">
      <div class="contenedor">
        <img [src]="tarjeta.imagen" class="card-img-top" [alt]="tarjeta.alt" >
      </div>
      <h5 class="card-title">{{ tarjeta.titulo }}</h5>
    </div>
   
  
    
    
  </div>
  </div>
  
  
  <!-- tarjertas secciones -->
  
  
  
  
 
  <!-- footer -->
  