<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/logo.svg" alt="logo" width="100" >
      </a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" aria-current="page" [routerLink]="['home']">nosostros</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['general']">informacion general</a>
          </li>
         
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['patrocinadores']"  >patrocinadores</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['registro']"  >registrate</a>
          </li>
        </ul>
        <form class="d-flex">
         
          <button class="btn btn-outline boton-azul" type="submit">sing in</button>
        </form>
      </div>
    </div>
  </nav>
  
  <!-- NAVBAR -->
  