<div class="container m-5 animated fast">

    <div class="row">
        <div class="col-10 ">
            <p class=" texto_d ">
            Con todos los puntos que acumules puedes usarlos de la mejor manera.
            puedes usar tus puntos para <span class="texto-azul"> canjearlos</span> por viajes, servicios 
            y millones de productos disponibles
            </p>
        </div>
    </div>

</div>






      <div class="row row-cols-1 row-cols-md-3 g-4 m-5 cristal animated fadeIn">
        <div class="col">
          <div class="card contenedor-blanco">
            <img src="../../../assets/img/microsoft-.svg" class="card-img-top" alt="...">
            <div class="card-body">
              <!-- <h5 class="card-title">MICROSOFT</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card contenedor-blanco">
              <img src="../../../assets/img/aeromexico.svg" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">AEROMEXICO</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card contenedor-blanco">
              <img src="../../../assets/img/walmart.png" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">WALMART</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card contenedor-blanco">
              <img src="../../../assets/img/coca-cola.png" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">COCA COLA</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card contenedor-blanco">
              <img src="../../../assets/img/corona.png" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">CORONA</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card contenedor-blanco">
              <img src="../../../assets/img/palaciodehierro.svg" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">PALACIO DE HIERRO</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card contenedor-blanco">
            <img src="../../../assets/img/Pfizer.svg" class="card-img-top" alt="...">
            <div class="card-body">
              <!-- <h5 class="card-title">PFIZER</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card contenedor-blanco">
            <img src="../../../assets/img/bimbo.png" class="card-img-top" alt="...">
            <div class="card-body">
              <!-- <h5 class="card-title">BIMBO</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p> -->
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card contenedor-blanco">
            <img src="../../../assets/img/porton.svg" class="card-img-top" alt="...">
            <div class="card-body">
              <!-- <h5 class="card-title">EL PORTÓN</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
        </div>
      </div>


  