body{
    color:white;
    background-color: rgb(7,12,14);
    font-family: 'Share Tech', sans-serif;
}

.cero{

    margin: 0;
    padding: 0;

}



.fondo-azul{
    background: rgb(0,236,255);
    background: linear-gradient(90deg, rgba(0,236,255,1) 0%, rgba(0,116,255,1) 50%);
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
    border-bottom-left-radius: 2rem;
    border-top-left-radius:40rem;

     
}

.fondo-azul-inverso{
    background: rgb(0,236,255);
    background: linear-gradient(90deg,rgba(0,116,255,1) 0%,  rgba(0,236,255,1) 50%);
    border-bottom-right-radius: 2rem;
    border-top-right-radius:40rem;
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    padding: 0rem;



}





.trapcecio{

    border-top-left-radius: 5rem;
    clip-path: polygon(31% 0, 100% 0, 100% 100%, 0% 100%);

}



.fondo-azul-doble{

    background: rgb(0,236,255);
    background: linear-gradient(90deg, rgba(0,236,255,1) 0%, rgba(0,116,255,1) 50%, rgba(0,236,255,1) 100%);
    
}

.texto-degrdado{

    background-image: linear-gradient(90deg, rgba(135,131,131,1) 0%, rgba(255,255,255,1) 42%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;


    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;



}



.boton-azul{

    border-color: rgba(0,236,255,1);
    color: rgba(0,236,255,1);
}

.boton-azul:hover{

    color: white;
}


.barra-texto{

    font-size: 3rem;

}

.texto-azul{
    color: rgba(0,236,255,1);
}


.cristal{

    background-color: rgba(255, 255, 255,.15);
    backdrop-filter:blur(20px);
    border: solid 2px rgba(255,255,255,0.5);
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 2rem;
    


}


.cristal-reducido{

    background-color: rgba(255, 255, 255,.15);
    backdrop-filter:blur(20px);
    border: solid 2px rgba(255,255,255,0.5);
    border-radius: 1rem;
    /* clip-path: polygon(0 38%, 100% 38%, 100% 100%, 0% 100%); */

}





.transparent{

    background-color: transparent;
}

.transparent:hover{

    
    /* background: rgb(0,236,255);
    background: linear-gradient(90deg, rgba(0,236,255,1) 0%, rgba(0,116,255,1) 50%, rgba(0,236,255,1) 100%); */
}

.contenedor{
    padding: 1rem;
    width: 7rem;
    border-radius: 1rem;
    background: rgb(0,236,255);
    background: linear-gradient(90deg, rgba(0,236,255,1) 0%, rgba(0,116,255,1) 50%, rgba(0,236,255,1) 100%);
    margin-bottom: 1.5rem;
}

.contenedor-blanco{

    background-color:white;
    width: 10rem;
    padding: 2rem;
    height: 10rem;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;

    border: 2px solid rgba(0,236,255,1);
}
   
.imagen{

    margin-top: -5rem;

}
    

/* .imagen-2{

    margin-left: -5rem;

} */
    

/* .contenedor:hover{

    width: 10rem;
}
     */

.borde{
    /* border: solid 2px white; */
    display: flex;
    justify-content: center;
    align-items: center;
   

}


.espacio-barra{

    margin: 5rem 1rem;

}

/*TExTO*/

.texto_d{

    font-size: 2rem;

}


.footer{

    /* display: flex; */
    justify-content: space-between;
    flex-flow: row;
    padding: 2rem;
}


ul{

    list-style-image: url('../src/assets/img/azul.png');
    /* text-align: center; */

}

.texto-blanco{

    color: white;
}


/* ANIMACIONES */


.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }