
<!-- seccion uno -->
<div class="container-fluid mt-5 animated fadeIn">
    <div class="row">

    
  
  
    <div class="col-md mt-5 ">
      <div class="fondo-azul-inverso trapecio">
        
        <img src="../assets/img/6.svg" alt="" width="70%">
      </div>


    </div>




      <div class="col-lg mt-5">
  
        <div class="container">
          <h1 class="texto-degrdado"> REGISTRATE Y FORMA PARTE DE NUESTRA COMUNIDAD</h1> 
        </div>
  
        <p>
          ser parte de nuestro equipo es muy facil. tan sólo tienes qué registrarte y podrás comenzar
          a acumular puntos  que podrás <span class="texto-azul"> canjearlos</span> por millones de productos de las marcas más reconocidas
          ¡no esperes más!
          
        </p>
  
  
       
        
          
         
        
  
  
  
  
      
    </div>
  
</div>

<!-- seccion uno -->









<!-- seccion dos -->


<div class="container-fluid mt-5 ">
    <div class="row">
      <div class="col-lg mt-5">
  
        <div class="container texto-degrdado">
          <h1>DIVIERTETE,AYUDA Y OBTEN DIVERSOS BENEFICIOS</h1>

        </div>
        <p>
          Solo tienes qué recolectar la basura que generes en tu visita a la playa o bien recojer la que encuentres.
          llevarla al centro de <span class="texto-azul">recoleccion</span> más cercano,canjearla y difrutar de tus puntos acumulables
          
        </p>
  



  
       
        
  
  
      </div>
  
  
      <div class="col-md">
        <div class="fondo-azul trapecio">
          
          <img src="../assets/img/17.svg" alt="" width="70%">
        </div>
  
  
      </div>
  
  
      
    </div>
  
  
  
  
  </div>

<!-- seccion dos -->









<!-- seccion tres -->


<div class="container-fluid mt-5">
    <div class="row">

    
  
  
    <div class="col-md mt-5 ">
      <div class=" cristal-reducido trapecio">
        
        <img class="imagen" src="../assets/img/14.svg" alt="" width="70%">
      </div>


    </div>




      <div class="col-lg mt-5 mb-5">
  
        <div class="container">
          <h1 class="texto-degrdado"> TODOS PODEMOS SER PARTE DE UN GRAN CAMBIO</h1> 
        </div>
  
        <p>
            todos pueden <span class="texto-azul">participar</span> . No importan tus creencias, preferencias sexuales o raza.
            esta es una misión en la que toda persona debería participar . 
            unete y forma parte de uno de los más de 10,000 participantes
        </p>
  
  
       
  
  
  
      
    </div>
  
</div>


<!-- seccion tres-->



