
<!-- seccion uno -->
<div class="container-fluid mt-5">
    <div class="row">

    
  
  
    <div class="col-md mt-5 ">
      <div class="fondo-azul-inverso trapecio">
        
        <img src="../assets/img/6.svg" alt="" width="70%">
      </div>


    </div>




      <div class="col-lg mt-5">
  
        <div class="container">
          <h1 class="texto-degrdado"> REGISTRATE Y FORMA PARTE DE NUESTRA COMUNIDAD</h1> 
        </div>
  
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus necessitatibus sapiente quaerat ratione sequi 
          dolore cumque magnam quisquam? Sed expedita aperiam qui temporibus facere nemo recusandae molestias fugiat a numquam.
        </p>
  
  
       
        
          
         
        
  
  
  
  
      
    </div>
  
</div>

<!-- seccion uno -->









<!-- seccion dos -->


<div class="container-fluid mt-5 ">
    <div class="row">
      <div class="col-lg mt-5">
  
        <div class="container texto-degrdado">
          <h1>DIVIERTETE,AYUDA Y OBTEN DIVERSOS BENEFICIOS</h1>
        </div>
  


        <div class="">
            <div class="card-group m-5 ">
              <div class="card transparent borde">
                <div class="contenedor ">
                  <img [src]="" class="card-img-top" [alt]="" >
                </div>
                <h5 class="card-title"></h5>


                
              </div>


              <div class="card transparent borde">
                <div class="contenedor">
                  <img [src]="" class="card-img-top" [alt]="" >
                </div>
                <h5 class="card-title"></h5>


                
              </div>

              <div class="card transparent borde">
                <div class="contenedor">
                  <img [src]="" class="card-img-top" [alt]="" >
                </div>
                <h5 class="card-title"></h5>


                
              </div>
             
            
              
              
            </div>
            </div>

  
  
       
        
  
  
      </div>
  
  
      <div class="col-md">
        <div class="fondo-azul trapecio">
          
          <img src="../assets/img/17.svg" alt="" width="70%">
        </div>
  
  
      </div>
  
  
      
    </div>
  
  
  
  
  </div>

<!-- seccion dos -->









<!-- seccion tres -->


<div class="container-fluid mt-5">
    <div class="row">

    
  
  
    <div class="col-md mt-5 ">
      <div class=" cristal-reducido trapecio">
        
        <img class="imagen" src="../assets/img/14.svg" alt="" width="70%">
      </div>


    </div>




      <div class="col-lg mt-5">
  
        <div class="container">
          <h1 class="texto-degrdado"> TODOS PODEMOS SER PARTE DE UN GRAN CAMBIO</h1> 
        </div>
  
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus necessitatibus sapiente quaerat ratione sequi 
          dolore cumque magnam quisquam? Sed expedita aperiam qui temporibus facere nemo recusandae molestias fugiat a numquam.
        </p>
  
  
       
  
  
  
      
    </div>
  
</div>


<!-- seccion tres-->
