 <!-- footer -->
 <div class="conainer-fluid  bg-dark footer" >
    <div class="row">
      <div class="col-4">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/img/logo.svg" alt="logo" width="100" >
        </a>
      </div>
  
      <div class="col-4">
        <p>todos los derechos reservados</p>
      </div>
  
      <!-- <div class="col-4">
      <ul>
        <li>patrocinadores</li>
        <li>contacto</li>
        <li>forma parte de nosostros</li>
      </ul>   -->
  
      <!-- </div> -->
    </div>
  
  
  </div>
  